<%= f.fields_for :user do |user_form| %>
  <div id="left_pane_detail">

    <div class="form-group">
      <%= user_form.label :username -%>
      <%= profile.user.username -%>
    </div>

    <div class="form-group">
      <%= user_form.label :email -%>
      <%= user_form.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= user_form.label :auto_generated_password -%>
      <%= user_form.check_box :auto_generated_password -%>
    </div>

    <div class="form-group">
      <%= f.label :expired_at -%><br />
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :expired_at, value: profile.expired_at.try(:strftime, "%Y-%m-%d"), class: 'form-control col-sm-4', placeholder: "#{t('page.example')}: 2011-04-12"-%>
      <%- else -%>
        <%= l(profile.expired_at) if profile.expired_at -%>
      <%- end -%>
    </div>

    <div class="form-check">
      <%= user_form.label :locked -%>
      <%= user_form.check_box :locked, class: 'form-check-input' -%>
    </div>

    <div class="form-group">
      <%= user_form.label t('activerecord.models.role') -%><br />
      <%= user_form.fields_for :user_has_role do |u| %>
        <%- if current_user.has_role?('Administrator') and current_user != profile.user -%>
          <%= u.select :role_id, @roles.select{|r| r.name != 'Guest' }.collect{|r| [r.display_name, r.id]} %>
        <% else %>
          <%= u.select :role_id, @roles.select{|r| r.name != 'Guest' }.collect{|r| [r.display_name, r.id]}, {}, {disabled: 'disabled'} %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="right_pane_detail">
    <div class="form-group">
      <%= f.label :full_name -%><br />
      <%= f.text_field :full_name, class: 'form-control' -%>
    </div>

    <div class="form-group">
      <%= f.label :full_name_transcription -%><br />
      <%= f.text_field :full_name_transcription, class: 'form-control' -%>
    </div>

    <div class="form-group">
      <%= f.label :zip_code -%><br />
      <%= f.text_field :zip_code, class: 'form-control col-sm-2' -%>
    </div>

    <div class="form-group">
      <%= f.label :address -%><br />
      <%= f.text_field :address, class: 'form-control' -%>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth -%><br />
      <%= f.text_field :date_of_birth, class: 'form-control col-sm-3' -%>
    </div>

    <%- if current_user.has_role?('Librarian') -%>
      <% if defined?(EnjuLibrary) %>
        <div class="form-group">
          <%= f.label t('activerecord.models.user_group') -%><br />
          <%= f.select(:user_group_id, @user_groups.collect{|u| [u.display_name, u.id]}) -%>
        </div>
      <%- end -%>
    <%- end -%>

    <div class="form-group">
      <%= f.label :user_number -%><br />
      <%- if current_user.has_role?('Librarian') -%>
        <%= f.text_field :user_number, class: 'resource_user_number' -%>
      <%- else -%>
        <%= profile.user_number -%>
      <%- end -%>
    </div>

    <%- if current_user.has_role?('Librarian') -%>
      <% if defined?(EnjuLibrary) %>
        <div class="form-group">
          <%= f.label t('activerecord.models.library') -%><br />
          <%= f.select(:library_id, @libraries.collect{|l| [l.display_name, l.id]}) -%>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label t('role.required_role') -%><br />
        <%= f.select(:required_role_id, @roles.collect{|r| [r.display_name, r.id]}) -%>
      </div>
    <%- end -%>
    <div class="form-group">
      <%= f.label :locale -%><br />
      <%= f.select(:locale, @available_languages.collect{|language| [language.display_name, language.iso_639_1]}) -%>
    </div>
  </div>
<% end %>
